@model MvcApplication1.Models.Submit

@{
    ViewBag.Title = "删除提交";
}

<h2>确认删除一个提交</h2>
<div class="well">
    @Html.DisplayFor(model => model.ID)
</div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="删除" class="btn btn-danger" />
    </p>
}
