@model MvcApplication1.Models.Tag

@{
    ViewBag.Title = "新建分类";
}

<h2>新建分类</h2>

@using (Html.BeginForm("Create", "Tag", FormMethod.Post, new { enctype = "multipart/form-data", @class = "col-md-6" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
            <label for="Tag">标签名称</label>
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
    </div>

    <p>
        <input type="submit" value="新建" class="btn btn-success" />
    </p>
}

