@model MvcApplication1.Models.Tag

@{
    ViewBag.Title = "删除分类";
}

<h2>删除分类</h2>
<div class="well">
    @Html.DisplayFor(model => model.Name)
</div>
<p>原属于这个分类的题目和比赛将属于(未分类)</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="删除" class="btn btn-danger" /> <b>操作不可以撤销！</b>
    </p>
}
