@model MvcApplication1.FormModels.LocalPasswordModel
@{
    ViewBag.Title = "管理帐户";
}

<h2>@ViewBag.Title.</h2>
<p>你已使用以下身份登录: <strong>@User.Identity.Name</strong>.</p>
@Html.Partial("_ChangePasswordPartial")
