@{
    ViewBag.Title = "UserImport";
}

<h2>数据导入</h2>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    if (ViewBag.Res != null)
    {
        <h3>执行结果</h3>
        <pre>@ViewBag.Res</pre>
    }
    <p class="help-block">每行一个用户信息,格式为 用户名,密码 未能成功创建的用户信息会保留在输入框内。</p>
    <textarea style="width:100%;" rows="30" name="Import">@ViewBag.Import</textarea>
    <input type="submit" value="导入" class="btn btn-primary" />
}