@model MvcApplication1.FormModels.UploadProblemModel
@{
    ViewBag.Title = "Create";
    ViewBag.Tip = "上传数据压缩包，自动读取题目配置。";
}

<h2>Create</h2>

@using (Html.BeginForm("Create","Problem",FormMethod.Post,new { enctype ="multipart/form-data" ,@class="col-md-6"})){
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.EditorForModel()

    <input type="submit" value="新建" class="btn btn-default" />
}

