@model MvcApplication1.Models.Problem

@{
    ViewBag.Title = "Delete";
}

<h2>确认删除一个题目</h2>

<div class="well">
   ( @Html.DisplayFor(model => model.ID) ) 
    @Html.DisplayFor(model => model.Title)
</div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="删除" class="btn btn-danger"/>
    </p>
}
