@model MvcApplication1.FormModels.ContestFormModel

@{
    ViewBag.Title = "新建比赛";
}

<h2>新建比赛</h2>

@using (Html.BeginForm()) {
    <div class="col-md-6">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        @Html.EditorForModel()
        <p>
            <input type="submit" value="创建" class="btn btn-success" />
        </p>
    </div>
}
