@model MvcApplication1.Models.Contest

@{
    ViewBag.Title = "删除比赛";
}

<h2>确认删除这场比赛？</h2>

<div class="well">
   ( @Html.DisplayFor(model => model.ID) ) 
    @Html.DisplayFor(model => model.Title)
</div>
<b>所有比赛中的提交会保留，但是不再属于任何比赛。</b>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="删除" class="btn btn-danger"/> <b>操作不可以撤销！</b>
    </p>
}
