@model MvcApplication1.FormModels.ContestFormModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    <div class="col-md-6">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.EditorForModel()
        <p>
            <input type="submit" value="保存" class="btn btn-success" />
        </p>
    </div>
}
