@model List<MvcApplication1.FormModels.JsonContestReslut>

@{
    ViewBag.Title = "Rank";
}

<h2>Rank</h2>

<table class="table table-striped">
    <tr>
        <th>用户名</th>
        @foreach(var x in ViewBag.prob)
        {
            <th>@x.Title</th>
        }
        <th>总分</th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>@item.UserName</td>
        @foreach (var x in item.Details)
        {
            <td>@x</td>
        }
        <td>@item.Src</td>
    </tr>
}

</table>
